@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

* {
    font-family: 'Bungee Shade', cursive;
    background-color: #2ec4b6;
}

.title {
    text-align: center;
    color: black;
}

#board {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.square {
    display: flex;
    box-shadow: 0 0 0 5px #333333;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    font-size: 3rem;
    cursor: pointer;
}

.square:hover {
    background-color: #92f2e8;
}