@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

* {
    margin: 0;
    font-family: 'Bungee Shade', cursive;
}

#main {
    background-color: #d4aa7d;
    height: 100vh;
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 40px;
}

.title {
    color: #d4aa7d;
    background-color: #272727;
    font-size: 1.3rem;
    text-align: center;
}

#board {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.square {
    display: flex;
    color: #d4aa7d;
    background-color: #272727;
    box-shadow: 0 0 0 5px #b99268;
    justify-content: center;
    align-items: center;
    height: 8rem;
    font-size: 3rem;
    cursor: pointer;
}

.square:hover {
    background-color: #494949;
}

.winner {
    display: flex;
    flex-direction: wrap;
    text-align: center;
    justify-content: center;
    gap: 2.5rem;
}

.winner h2 {
    font-size: 1.8rem;
}

button {
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    font-size: 1.3rem;
    background-color: #272727;
    color: #d4aa7d;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}